.navigation-bar{
    background:#FDD20EFF;
    color: #00203FFF;
}
.dropdown-menu.show {
    background: #FDD20EFF;
    border: 1px solid black;
}
.dropdown-item {
    color: rgb(43, 43, 43);
}
.dropdown-item:hover {
    background: #FDD20EFF;
    font-weight: 900;
    font-size: 20px;
}
.menu a:hover{
    color: black;
}

.navigation-bar h6 {
    color: #00203FFF;
    font-family: 'Griffy', cursive;  
    font-size: 19px;
}
.logo{
    font-family: 'Henny Penny', cursive;
    font-weight: 900;
    font-size: 30px;
}
.menu a {
    font-size: 19px;
    font-weight: 900;
    color: #00203FFF;
   /* font-family: 'Fruktur', cursive; */
   font-family: 'Griffy', cursive;
}